@media screen and (min-width: 428px) {
    .container {
      max-width: 428px;
    }
    .footer-input {
      width: 398px;
    }
  }
  
  @media screen and (max-width: 427px) {
    .mob-socials-link {
      font-size: 24px;
    }
  
    .modal {
      width: 90%;
    }
  
    .footer-input {
      min-width: 290px;
    }
  }
@media screen and (min-width: 428px){
    /* .container{
        max-width: 428px;
    } */
    .advantages-subtitle{
        text-align: center;
        font-size: 36px;
    }
    .what-we-do{
        display: none;
    }
    .team-menu{
        justify-content: center;
        align-items: center;
    }

    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
      
    .effective-sol-button{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/telephoneimage2x.jpg); 
    }
    }
} 

@media screen and (max-width:428px){
    .what-we-do{
        display: none;
    }

    .footer-input{
        min-width: 288px; 
    }
}


@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
    }

    .header-container{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .header-menu{
        display: flex;
    }
    .header-socials{
        display: block;
        margin-left: 121px;
    }
    .options-menu-btn{
        display: none;
    }

    .header-logo {
        margin-right: 120px;
    }
    .customers-section{
        max-width: 768px;
        padding-top: 96px;
        padding-bottom: 96px;
    }



    .effective-sol-button{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/laptopimaggge.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .effective-item{
        font-size: 56px; 
        margin-bottom: 36px;
    }

    .element-buttton {
        margin: 0 auto;
    }

    .advantages{
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .what-we-do{
        display: none;
    }

    .advantages-item{
        width:calc((100% - 32px)/2);
    }

    .features-menu{
        gap: 24px;
    }
   
    .advantages-subtitle {
        color: var(--primary-black-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 11px; 
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: left;
    }
    .team-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .team-item{
        margin-bottom: 64px;
        
    }  
    .customers-item{
    width: calc((100% - 48px) / 3);
    
    }

    .footer-contr{
        display: flex;
        max-width: 564px;
        justify-content: baseline;
    } 
    
    .footer-logo-txt-cont{
        text-align: left;
    } 
    .footer-social-subtitle{
        text-align: left;
        margin-left: 24px;

        margin-top: 0px;
    }
    .footer-contact-list{
        margin-left: 24px;
    }

    .footer-form{
        margin-right: 43px;
    }
   
    .footer-txt{
        text-align: left;
        margin-left: 0px;
        justify-content: left;
    }
   
    .footer-input {
        width: 264px;
        
    } 
    
    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
      
    .effective-sol-button{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/tab2x.jpg); 
    }
    }

} 

@media screen and (min-width: 1158px){
    .container{ 
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    }

    .header-menu{
        display: flex;
    }

    .header-socials{
        display: flex;
    }
    .header-logo{
        margin-right: 76px;
    }
    .options-menu-btn{
        display: none;
    }

    .effective-sol-button{
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .features-menu{
     gap: 24px;
    }
    .effective-item{
        font-size: 56px; 
         margin-bottom: 48px;
    }
    .element-buttton {
        margin-left: 480px;
    }

.advantages-item-icon{
    width:264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloudy-color);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .advantages{
         padding-top: 120px;
        padding-bottom: 120px; 
    }

    .advantages-item{
         width:calc((100% - 72px)/4); 
    }

.advantages-subtitle {
    color: var(--primary-black-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    }
    
    .advantages-item-text {
    color: #434455;
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

    .team-menu{
        display: flex;
    }
    .team-item{
        margin-right: 0px;
        width: calc((100%-72px)/4); 
    } 
    
.customers-section{
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
}

    .customers-item{
        width: 168px; 
    }

    .footer{
         padding: 100px 0; 
    }

    .footer-contr{
        /* margin-right: 120px;
        width: 264px; */
    } 
    .footer-form {
        gap: 24px;
      }
    

    
    .footer-input {
         width: 264px;
         
    }
    .footer-contact-info {
        margin-right: 80px;
    }

    
  

    .what-we-do{
        display: block;
    }
    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
      
    .effective-sol-button{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-2x.jpg); 
    }
    }
 
} 